{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Modifier profil{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Modifier Profil</h1>
        {{form(form)}}
    </div>
{% endblock %}
