{% extends "base.html.twig" %}
{% block title %}SymRecipe - Modifier mot de passe{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="mt-4"> Modifier mot de passe</h1>
        {# read and display just one flash message type #}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        
        {{form(form)}}
    </div>
{% endblock %}